p.title {
    font-size:60px;
	color : #33CCFF;
	font-family : "DejaVu Sans";
	font-weight: bold;
}
body {
    text-align: center;
}
input.operators
{
	width : 50px;
	font-weight: bold;
	color : red;
	background : #CCCCCC;
	font-size : 15px;
}
input.numbers
{
	font-weight: bold;
	font-size : 15px;
	width : 50px;
}
div.MainForm
{
	width : 250px;
	padding : 10px;
	margin : 10 auto;
	border : 5px solid gray;
	vertical-align : center;
	background : #3366CC;
}
